{% load staticfiles%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ titulo }}</title>

    <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.css'%}">

    <!-- SLIDER -->
    <link rel="stylesheet" href="{% static 'css/estilos.css'%}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.css'%}">

    <script src="{% static 'js/jquery-3.1.0.min.js'%}"></script>
  	<script src="{% static 'js/main.js'%}"></script>
    <!-- END SLIDER -->

</head>
<body>
  <div class="">
    {% include 'principal/slider.html' %}
  </div>

    {% block menu %}
    <div class="menu-principal">
      <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Features</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Pricing</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
          </ul>

        </div>
      </nav>
    </div>

    {% endblock %}

    {% block content %}
    <!-- CONTENIDO -->
    {% endblock %}

    {% block footer %}
    <!-- FOOTER -->
    {% endblock %}

<script src="{% static 'js/bootstrap/bootstrap.min.js'%}"></script>
</body>
</html>
