{% extends 'base/base.html'%}
{%block content%}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 box-body">
      jjshfs
    </div>
    <div class="col-md-4 box-register small">
      <form class="" method="post">
        {% csrf_token %}
        {{ form.as_p }}

        <button type="submit" name="button" class="btn btn-primary btn-sm">Registrar</button>
      </form>
    </div>
  </div>


  <div class="row">
  <input type="text" class="form-control" name="" value="">
  </div>
</div>
{%endblock%}
